$icons: "001-watermelon.svg", "002-orange.svg", "003-strawberry.svg";

/* Icons */
.icon-card {
    flex: 1;
    height: 50px;
    background-repeat: no-repeat;
    background-size: 50px auto;
    background-position: center top;
    text-align: center;
    padding-top: 50px;
}

@for $i from 1 through length($icons) {
    .icon-card:nth-child(#{$i}) {
        background-image: url("../img/#{nth($icons, $i)}");
    }
}

#icons-container {
    display: flex;
    border-top: 1px solid black;
    padding: 50px 10px;
    margin: 50px 0;
    grid-area: icons;
}
