@use 'colors';
@use 'fonts';

/* Layout */
.main-container {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 85rem;
    display: grid;
    grid-row-gap: 10px;
}
#main-content-container {
    display: grid;
    grid-template-columns: 3fr 1fr;
}
header,
footer,
nav,
article {
    padding: 15px;
    background-color: #fff;
}
aside {
    background-color: colors.$secondary-color;
    padding: 15px;
}

body {
    background-color: colors.$primary-color;
    margin: 0;
}

html {
    font-family: fonts.$font-family;
    font-size: fonts.$font-size;
}

/* Header */
header {
    height: 200px;
    display: flex;
    background: url("../img/apples-bg.jpg") 0 0 no-repeat;
    background-attachment: fixed;
    background-position: top;
    background-size: cover;

    .logo-container {
        flex: 1;
    }

    .search-container {
        flex: 2;
    }
}

/* Footer */
.footer-container {
    display: flex;
}
.footer-box {
    flex: 1;
}