@use 'colors';
@use 'fonts';
@use 'responsive';

/* Layout */
.main-container {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 85rem;
    display: grid;
    grid-row-gap: 10px;
}
#main-content-container {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-areas:
    "left middle right"
    "icons icons icons"
}
@include responsive.breakpoint("small", max) {
    #main-content-container {
        grid-template-areas:
    "middle"
    "left"
    "right"
    "icons"
    }
}
.main-content {
    grid-area: middle;
}
.left-sidebar {
    grid-area: left;
}
header,
footer,
nav,
article {
    padding: 15px;
    background-color: #fff;
}
aside {
    grid-area: right;
    background-color: colors.$secondary-color;
    padding: 15px;
}

body {
    background-color: colors.$primary-color;
    margin: 0;
}

html {
    font-family: fonts.$font-family;
    font-size: fonts.$font-size;
}

/* Header */
header {
    height: 200px;
    display: flex;
    background: url("../img/apples-bg.jpg") 0 0 no-repeat;
    background-attachment: fixed;
    background-position: top;
    background-size: cover;

    .logo-container {
        flex: 1;
    }

    .search-container {
        flex: 2;
    }
}

/* Footer */
.footer-container {
    display: flex;
}
.footer-box {
    flex: 1;
}