/* Navigation */
@use 'responsive';
@use 'colors';

nav {
    li {
        display: inline-block;
    }
    ul {
        padding: 0;
    }
    a {
        padding: 15px;
    }
}

nav a:hover {
    text-decoration: none;
    background-color: white;
}
#navigation {
    background-color: var(--secondary-color);
}

@include responsive.breakpoint("medium", max) {
    //@debug responsive.$mobile_maxwidth;
    @debug "Primary color: #{colors.$primary-light-color}";
    nav li {
        display: block;
        padding: 20px 0;
        border-bottom: 1px solid #{colors.$primary-light-color};
    }
    nav li:last-child {
        border-bottom: none;
    }
}
