/* Navigation */
@use 'responsive';
@use 'colors';
@use 'fonts';

@mixin animate-menu {
    transition-property: height;
    transition-duration: 1s;
}

nav {
    li {
        display: inline-block;
        flex: 1;
        text-align: center;
    }
    ul {
        display: flex;
        padding: 0;
        &.menu {
            @include animate-menu;
            &.hide {
                @include animate-menu;
                height: 0;
                overflow: hidden;
            }
        }
    }
    a {
        padding: 15px;
        &:hover {
            text-decoration: none;
            background-color: white;
        }
    }
    .menu-button {
        background-color: white;
        border: 0;
        float: right;
        display: none;
    }
}

#navigation {
    background-color: colors.$secondary-color;
}

@include responsive.breakpoint("medium", max) {
    nav {
        .menu-button {
            display: inline-block;
        }
        li {
            padding: 20px 0;
            border-bottom: 1px solid #{colors.$primary-light-color};
        }
        ul {
            flex-direction: column;
            &.menu {
                height: 300px;
            }
        }
    }
    nav li:last-child {
        border-bottom: none;
    }
}
