@use 'sass:map';

$breakpoints: (
    "small": 480px,
    "medium": 1024px,
    "large": 1680px
);

@mixin breakpoint($screenSize, $minmax) {
    @if $minmax != min and $minmax != max {
        @error "Media query must use either min or max value for calculating breakpoint!";
    }
    @if $minmax == min {
        @media screen and (min-width: map.get($breakpoints, $screenSize)) {
            @content;
        }
    } @else if $minmax == max {
        @media screen and (max-width: map.get($breakpoints, $screenSize)) {
            @content;
        }
    }
}


@media screen and (max-width: 600px) {
    .logo-container {
        display: none;
    }
    header {
        grid-template-columns: 1fr;
    }
    #icons-container {
        flex-direction: column;
    }
    .icon-card {
        margin-top: 20px;
    }
    #main-content-container {
        grid-template-columns: none; /* Move sidebar below main content area */
    }
}