@use 'colors';
@use 'fonts';

body {
    background-color: colors.$secondary-color;
}

.container {
    background-color: colors.$primary-light-color;
}

.col {
    border: 1px solid colors.$primary-color;
}